.App {
    text-align: center;
    margin:1rem;
    
  }
  .heading{
    background-color: #E0EBE4;
    margin-bottom: 1rem;
    color: #222;
    margin: 0;
  }
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .option {
    max-width: 600px;
    margin: 1rem;
    
  }
  .box{
    background-color: #E0EBE4;
    padding: 1rem;
    margin: 1rem;
    background-color: #2223;
  }
  .result {
    max-width: 600px;
    margin:1rem;
    
  }
